
.btns {
  padding: 10px;
  margin: 10px;
  font-size: 35px;
  cursor: pointer;
}

.zero {
  font-size: 35px;
}

.Main {
  position: relative;
  width: 370px;
  text-align: center;
  margin: auto;
  background-color: rgb(193, 193, 248);
    

    
    
}


.center {
  position: relative;
  left: 20%;
}



